{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
	</script>
	<!-- End Google Analytics -->
{% endif %}


<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-640942-14']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>


<!-- Start of StatCounter Code -->
<script>
    <!--
        var sc_project=8719655;
        var sc_security="5b6a1507";
      var sc_invisible=1;
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
    //-->
document.write("<sc"+"ript src='" +scJsHost +"statcounter.com/counter/counter.js'></"+"script>");
</script>
<script src="http://www.statcounter.com/counter/counter.js"></script>
<noscript>&lt;div class="statcounter"&gt;&lt;a title="web analytics" href="https://statcounter.com/"&gt;&lt;img class="statcounter" src="https://c.statcounter.com/8719655/0/5b6a1507/1/" alt="web analytics" /&gt;&lt;/a&gt;&lt;/div&gt;</noscript>
<!-- End of StatCounter Code -->
